*{
    margin:0;
    padding:0;
    
}
body
{
    background-color:#f0f2f5;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    background-color: white;
    position:relative;
}
.logo{
    background-color:white;
    border-radius:15px;
    margin-right:15px;
    width:35px;
    height:35px;
}


.search-box input{
    width:250px;
    height:25%;
    padding:10px 10px;
    border:#f0f2f5;
    border-radius: 20px;
    background-color:#f0f2f5;

}
.nav_left{
    display:flex;
    align-items: center;
    
}
.nav_center{
    display:flex;
    gap:150px;
    justify-content:center;
    align-items: center;
    
    
}
.nav_center ul{
    display:flex;
    list-style-type: none;
    padding:0;margin:auto;
}
.nav_center li{
    list-style-type: none;
}
.nav_center img{
    width:30px;
    height:30px;
    cursor:pointer;
}

.nav_right{
    display:flex;
    align-items: center;
    position:absolute;
    right:15px;
}
.container{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:20px;
    margin:15px auto;
    background-color:#f0f2f5;
    
}
.left_side{
    width:25%;
    padding:10px;
    height:500px;
    
}
.left_side ul{
    list-style-type: none;
}
.left_side ul li{
    padding:20px 0px;
    margin-left:30px;
    
    
    
}
.left_side ul li {
    text-decoration: none;
    font-size:25px;
    color:black;
}
.left_side ul li img{
    width:35px;
    
    
}

.profile{
    display:flex;
    
}
.profile img
{
    
    background-color:black;
    border-radius:30px;
    width:35px;
    height:35px;
}
.profile button{
    width:80px;
    height:35px;
    margin-left:7px;
    border-radius: 20px
}
.post{
    display:grid;
    justify-content:center;
    
    width:80%;
    margin:10px auto;
    
       gap: 50px;
}
.post_container{
    flex:1;
    
}
.post_img{
    width:100%;
    height:auto;
    display:block;
    border-radius:9px;
}
.img{
    width:100%;
    padding:20px;
    height:100px;
    image-rendering:auto;
}






