*{
    margin:0;
    padding:0;

}
/* form section start*/
form{
    width:425px;
    height:500px;
    margin-left:35%;
    margin-top:5%;
    box-shadow:0px 5px 8px 3px #aaa;
    background:white;
}


/* 1st title and sub-title start*/
.first_title{
    font-size:32px;
    padding:10px 
    10px 0px 10px;
}
#sub_title{
    color:#606770;
    margin-left:10px;
}
hr{
    margin-top: 10px;
    opacity:20;
}
/* 1st title and sub-title end*/


/* input section srtat*/
#all{
    width:180px;
    border-radius:5px;
    background: #e6e6ee;
    height:35px;
    border:1px solid #aaa;
    font-size:15px;
    margin-left:12px;
    margin-top:10px;
    padding-left:10px;
}
#all1{
    width:390px;
    background:#e6e6ee;
    height:35px;
    border:1px solid #aaa;
    border-radius:5px;
    font-size:15px;
    margin-left:12px;
    margin-top:10px;
    padding-left:10px;    
}
/* input section end*/

/*DAte of birth section start*/
.sub_title_2{
    margin-top:10px;
    font-size:12px;
}
select{
    width:125px;
    margin-left:10px;
    margin-top:10px;
    height:35px;
    font-size:15px;
    background: none;
    border:1px solid #aaa;
    border-radius: 5px;
}
/* Date of BIrth section end*/


/* gender senction start*/
.sub_title_3{
    margin-top:10px;
    font-size:12px;

}
#all_gender{
    width:110px;
    height:25px;
    border:1px solid #aaa;
    padding: 10px 0px 0px 10px;
    border-radius:5px;
}
.Female{
    margin-top: 10px;
    margin-left: 10px;
}
.male{
    margin-top: -38px;
    margin-left: 151px;
}
.other{
    margin-top: -38px;
    margin-left: 290px;
}
/* gender section end*/


/*last section*/
.submit{
    width:200px;
    height:40px;
    background:#0ead02;
    border-radius:white;
    color:white;
    font-size:20px;
    font-weight:bold;
    border:none;
    margin-left:25%;
    margin-top:20px;
}
/*form section end*/